<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Learning AngualarJS</title>
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div ng-controller="PlayerController">
    <button ng-click="stop()" ng-show="playing">Stop</button>
</div>
<div ng-controller="PlayerController">
    <ul id="programList">
        <li ng-repeat="program in programs" ng-click="play(program)">
            <span>{{program.title.$text}}</span>
        </li>
    </ul>
</div>
</body>
</html>